$box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
$primary-color: rgb(138, 221, 253);
$secondary-color: rgb(204, 217, 231);

$bg-gradient: linear-gradient(315deg, rgb(141, 213, 255), $secondary-color);
$nav-gradient: linear-gradient($secondary-color, $primary-color);
$bg-gradient-night: linear-gradient(315deg, rgb(23, 4, 133), rgb(0, 40, 173));
$nav-gradient-night: linear-gradient(rgb(46, 20, 192), rgb(136, 174, 214));
